Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier {staged_files} --config=prettier.config.js --write

remove font selector. create dark mode icon
  components/common/DisplayOptions.js
Due: eslint

use icons
  components/atoms/Date/Date.js
Due: eslint

adjust excerpt font style
  components/atoms/Excerpt/Excerpt.module.css
Due: stylelint

bump to next.js v11
  package-lock.json
  package.json
Due: prettier

ignore eslint during builds
  next.config.js
Due: eslint

add base64Image placeholder
  functions/config.js
Due: eslint

use blur up on next <Image /> component
  __pages/homepage.mdx
  components/molecules/Logo/Logo.js
  pages/photos/[slug].js
  pages/photos/index.js
Due: eslint

set high priority on images above the fold
  __pages/homepage.mdx
  components/molecules/Logo/Logo.js
Due: eslint

add height and width
  components/molecules/Logo/Logo.module.css
Due: stylelint

update author avatar url
  functions/config.js
Due: eslint

use squoosh to optimize avatar
  public/blog/authors/greg-80x80.jpg
  public/blog/authors/greg-80x80.webp
  public/blog/authors/greg-original.jpg
  public/blog/authors/greg.avif
  public/blog/authors/greg.jpg
  public/blog/authors/greg.webp
Due: none

use squoosh to optimize family photo
  public/blog/images/rickaby-family-2019-original.jpg
  public/blog/images/rickaby-family-2019.avif
  public/blog/images/rickaby-family-2019.jpg
  public/blog/images/rickaby-family-2019.webp
Due: none

introduce avif support with webp or jpg fallback
  __pages/homepage.mdx
  components/molecules/Logo/Logo.js
Due: eslint

move <Head> items to _document.js
  components/common/Meta.js
  components/templates/Layout/Layout.js
  pages/_document.js
Due: eslint

remove eslint bypass
  next.config.js
Due: eslint

add and extend eslint-config-next
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint, prettier

remove duplicate eslint settings
  .eslintrc.js
Due: eslint

remove duplicate packages
  package-lock.json
Due: prettier

use `next lint` for JS
  package.json
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

add github actions deply with rsync post
  __posts/github-actions-deploy-with-rsync.mdx
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier

drop avif. use responsive image
  __pages/homepage.mdx
Due: none

drop avif
  components/molecules/Logo/Logo.js
Due: eslint

use webp
  functions/config.js
Due: eslint

remove viewport. add `en-US`
  pages/_document.js
Due: eslint

add hero image preload
  pages/index.js
Due: eslint

add responsive hero image size
  public/blog/images/rickaby-family-2019-400.webp
Due: none

remove avif files
  public/blog/authors/greg.avif
  public/blog/images/rickaby-family-2019.avif
Due: none

use npm 7
  .github/workflows/assertions.yml
Due: prettier

markdownlint only supports `.md`
  .github/workflows/assertions.yml
  lefthook.yml
  package.json
Due: prettier

set i18n in next.config.js
  next.config.js
  pages/_document.js
Due: eslint

turn hero image into a component and import
  __pages/homepage.mdx
  pages/index.js
Due: eslint

don't prefetch all pages until hovered
  components/molecules/HeaderNavigation/HeaderNavigation.js
Due: eslint

remove shimmer from footer
  components/organisms/Footer/Footer.js
Due: eslint

fix docblock
  pages/index.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
