Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier {staged_files} --config=prettier.config.js --write

fix stylelint ignore pattern warning
  lefthook.yml
Due: prettier

use new avatar
  components/molecules/Logo/Logo.js
Due: eslint

update title, avatar, socials, etc...
  lib/config.js
  pages/_document.js
Due: eslint

bring back the homepage
  pages/articles.js
  pages/index.js
Due: eslint

bump text
  pages/index.js
Due: eslint

update favicon
  public/favicon/favicon.ico
  public/favicon/icon.png
Due: none

words
  pages/index.js
Due: eslint

dependency bump
  package-lock.json
  package.json
Due: prettier

add missing comma
  pages/_document.js
Due: eslint

remove form stuffs
  components/molecules/ContactForm/ContactForm.js
  components/molecules/ContactForm/ContactForm.module.css
  lib/formium/connector.js
Due: eslint, stylelint

fix react key warning
  components/molecules/HeaderNavigation/HeaderNavigation.js
  components/organisms/Footer/Footer.js
Due: eslint

next-mdx-remote v4 upgrade
  data/pages/media.mdx
  data/pages/resources.mdx
  data/posts/gregs-homemade-pizza-recipe.mdx
  data/posts/nextjs-github-pages.mdx
  data/posts/using-the-golden-ratio-and-rems.mdx
  data/posts/verify-your-commits-on-github.mdx
  data/posts/web-images.mdx
  lib/posts.js
  pages/[slug].js
  pages/article/[slug].js
  pages/articles.js
  pages/books/[slug].js
Due: eslint

remove trailing comma
  pages/_document.js
Due: eslint

bump
  README.md
Due: prettier

upgrade to ga4
  pages/_app.js
Due: eslint

update url
  lib/config.js
Due: eslint

remove universal analytics
  lib/gtag.js
  pages/_app.js
Due: eslint

rename file per v3
  next-sitemap.config.js
Due: eslint

use checkout v3
  .github/workflows/assertions.yml
  .github/workflows/lighthouse.yml
  .github/workflows/security.yml
Due: prettier

sidenote tailwind 3 update
  components/molecules/SideNote/SideNote.module.css
Due: stylelint

bump
  data/posts/nextjs-github-pages.mdx
Due: none

update scripts
  package-lock.json
  package.json
Due: prettier

update link
  pages/index.js
Due: eslint

remove twitter
  pages/contact.js
Due: eslint

remove funding
  .github/FUNDING.yml
Due: prettier

remove ga
  pages/_app.js
Due: eslint

remove twitter
  pages/_document.js
Due: eslint

add link to email
  pages/contact.js
Due: eslint

add favorite
  pages/index.js
Due: eslint

update words
  pages/index.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
