Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: "*.{md,html,json,yml}"
      run: npx prettier {staged_files} --config=prettier.config.js --write

fix bg color
  components/common/DisplayOptions.js
Due: eslint

don't prefetch yourself
  components/molecules/Logo/Logo.js
Due: eslint

preload font stylesheet
  pages/_document.js
Due: eslint

dependency bump
  package-lock.json
  package.json
Due: prettier

disable prefetch
  components/molecules/Card/Card.js
  pages/photos/index.js
Due: eslint

use new <PlaceholderImage /> for blur up
  components/atoms/PlaceholderImage/PlaceholderImage.js
  pages/photos/[slug].js
  pages/photos/index.js
Due: eslint

remove preload
  pages/_document.js
Due: eslint

move "base" to global.css
  styles/global.css
  tailwind.config.js
Due: eslint, stylelint

update bg color
  components/common/DisplayOptions.js
Due: eslint

move import to global.css
  pages/_app.js
Due: eslint

update font stack
  pages/_document.js
Due: eslint

bump
  package-lock.json
Due: prettier

several layout/color tweaks
  components/atoms/Date/Date.js
  components/atoms/Date/Date.module.css
  components/atoms/Excerpt/Excerpt.js
  components/atoms/Excerpt/Excerpt.module.css
  components/atoms/Title/Title.module.css
  components/molecules/HeaderNavigation/HeaderNavigation.js
  components/molecules/HeaderNavigation/HeaderNavigation.module.css
  components/molecules/Logo/Logo.js
  components/molecules/Logo/Logo.module.css
  components/molecules/PageHeader/PageHeader.js
  components/molecules/PageHeader/PageHeader.module.css
  components/organisms/Footer/Footer.module.css
  components/organisms/Header/Header.module.css
  styles/global.css
Due: eslint, stylelint

uppercase
  components/atoms/Excerpt/Excerpt.js
Due: eslint

moar style tweaks
  components/atoms/Date/Date.js
  components/atoms/Date/Date.module.css
  components/atoms/Excerpt/Excerpt.module.css
  components/atoms/Title/Title.js
  components/atoms/Title/Title.module.css
  components/molecules/Card/Card.js
  components/molecules/Card/Card.module.css
  components/molecules/Logo/Logo.js
  components/molecules/Logo/Logo.module.css
  components/molecules/PageHeader/PageHeader.module.css
  components/organisms/Footer/Footer.js
  components/organisms/Footer/Footer.module.css
  components/templates/Layout/Layout.js
  components/templates/Layout/Layout.module.css
  pages/blog/index.js
  pages/books/index.js
  pages/contact.js
  pages/photos/index.js
  styles/global.css
Due: eslint, stylelint

responsive footer styles
  components/organisms/Footer/Footer.module.css
Due: stylelint

move display options to /atoms
  components/atoms/DisplayOptions/DisplayOptions.js
  components/atoms/DisplayOptions/DisplayOptions.module.css
  components/common/DisplayOptions.js
  components/organisms/Footer/Footer.js
Due: eslint, stylelint

link hover tweak
  styles/global.css
Due: stylelint

use 2, not 4
  .markdownlint.json
Due: prettier

formatting
  .github/workflows/codeql-analysis.yml
  __posts/gregs-homemade-pizza-recipe.mdx
Due: prettier

add toc. mention slug matching filename
  README.md
Due: prettier

fix front matter and slug
  __posts/github-actions-deploy-with-rsync.mdx
  __posts/verify-your-commits-on-github.mdx
Due: none

several more design touches
  __posts/2020-a-year-in-review.mdx
  components/atoms/Date/Date.js
  components/atoms/Date/Date.module.css
  components/atoms/Excerpt/Excerpt.module.css
  components/atoms/Title/Title.module.css
  components/molecules/PageHeader/PageHeader.js
  components/molecules/PageHeader/PageHeader.module.css
  components/templates/Layout/Layout.module.css
  styles/global.css
Due: eslint, stylelint

header needs some bottom padding
  components/organisms/Header/Header.module.css
Due: stylelint

nesting
  styles/global.css
Due: stylelint

don't be all crazy with link underlines
  styles/global.css
Due: stylelint

add <Separator />
  __posts/2020-a-year-in-review.mdx
  components/atoms/Separator/Separator.js
  components/atoms/Separator/Separator.module.css
  components/molecules/Card/Card.module.css
  components/molecules/HeaderNavigation/HeaderNavigation.module.css
  components/organisms/Footer/Footer.module.css
  components/organisms/Header/Header.module.css
  pages/blog/[slug].js
  styles/global.css
Due: eslint, stylelint

add <Separator /> to <Footer />
  __posts/2020-a-year-in-review.mdx
  components/organisms/Footer/Footer.js
  styles/global.css
Due: eslint, stylelint

spacing tweaks
  components/molecules/PageHeader/PageHeader.module.css
  components/templates/Layout/Layout.module.css
  styles/global.css
Due: stylelint

dep bump
  package-lock.json
Due: prettier

remove clipboard plugin
  functions/posts.js
Due: eslint

initial commit for pre-optimizing images
  .gitignore
  functions/config.js
  functions/photos.js
  package-lock.json
  package.json
Due: eslint, prettier

only ignore jpg
  .gitignore
  public/photos/optimized/.gitkeep
Due: none

drop npx, use `sharp`
  package.json
Due: prettier

move up a dir
  .gitignore
  package.json
  public/optimized/.gitkeep
Due: prettier

seperate out build commands
  package.json
Due: prettier
