Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier {staged_files} --config=prettier.config.js --write

use public dir
  package.json
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

adjust scripts
  package-lock.json
  package.json
Due: prettier

run intro through readability tests and adjust
  __pages/homepage.mdx
Due: none

update hosting reference
  __pages/resources.mdx
Due: none

contact form adjustments
  components/molecules/ContactForm/ContactForm.module.css
  pages/contact.js
Due: eslint, stylelint

use 3 columns
  components/atoms/Masonry/Masonry.js
Due: eslint

rename to <DarkMode />
  components/atoms/DarkMode/DarkMode.js
  components/atoms/DarkMode/DarkMode.module.css
  components/atoms/DisplayOptions/DisplayOptions.js
  components/atoms/DisplayOptions/DisplayOptions.module.css
Due: eslint, stylelint

use svg icon instead
  pages/_document.js
Due: eslint

rename <Date /> to <Meta />
  components/atoms/Date/Date.js
  components/atoms/Date/Date.module.css
  components/atoms/Meta/Meta.js
  components/atoms/Meta/Meta.module.css
Due: eslint, stylelint

use <Meta />
  components/molecules/Card/Card.js
  components/molecules/PageHeader/PageHeader.js
  components/organisms/Footer/Footer.js
Due: eslint

increase font size for tablet
  components/molecules/HeaderNavigation/HeaderNavigation.module.css
Due: stylelint

remove preload author image
  pages/_document.js
Due: eslint

increase social font size
  components/organisms/Footer/Footer.module.css
Due: stylelint

don't use css module
  components/atoms/DarkMode/DarkMode.js
  components/atoms/DarkMode/DarkMode.module.css
Due: eslint, stylelint

remove duplicate class
  components/atoms/Meta/Meta.js
Due: eslint

smooth scroll
  styles/global.css
Due: stylelint

remove classnames
  components/templates/Layout/Layout.js
  components/templates/Layout/Layout.module.css
Due: eslint, stylelint

use wide layout on single photo
  pages/photos/[slug].js
Due: eslint

increase footer font size
  components/organisms/Footer/Footer.module.css
Due: stylelint

Update README.md
  README.md
Due: prettier

add reading time dep
  package-lock.json
  package.json
Due: prettier

process reading time
  functions/posts.js
Due: eslint

pass in reading time
  components/molecules/PageHeader/PageHeader.js
Due: eslint

display reading time
  components/atoms/Meta/Meta.js
  components/atoms/Meta/Meta.module.css
Due: eslint, stylelint

move from /functions to /lib
  components/molecules/HeaderNavigation/HeaderNavigation.js
  components/molecules/Logo/Logo.js
  components/organisms/Footer/Footer.js
  jsconfig.json
  lib/config.js
  lib/helpers.js
  lib/photos.js
  lib/posts.js
  lib/redirects.js
  lib/thumbnails.js
  next.config.js
  pages/[slug].js
  pages/_app.js
  pages/_document.js
  pages/blog/[slug].js
  pages/blog/index.js
  pages/books/[slug].js
  pages/books/index.js
  pages/contact.js
  pages/index.js
  pages/photos/[slug].js
  pages/photos/index.js
Due: eslint, prettier

move generate rss to /scripts
  lib/posts.js
  pages/blog/index.js
  scripts/generate-rss.js
Due: eslint

2 not 4
  .markdownlint.json
Due: prettier

add toc. update content management section
  README.md
Due: prettier

formatting update
  .github/workflows/codeql-analysis.yml
Due: prettier

update purge directories
  tailwind.config.js
Due: eslint

add super basic search
  pages/blog/index.js
Due: eslint

better inline comments
  pages/blog/index.js
Due: eslint

a11y fix
  components/atoms/DarkMode/DarkMode.js
  components/molecules/Card/Card.js
Due: eslint

dark mode input adjustments
  components/atoms/DarkMode/DarkMode.js
Due: eslint

adjust blockquote
  styles/global.css
Due: stylelint

add nextjs github pages post
  data/posts/nextjs-github-pages.mdx
Due: none

bump swr post
  data/posts/swr-examples.mdx
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
