Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier {staged_files} --config=prettier.config.js --write

bump lockfile
  package-lock.json
Due: prettier

pass in image component
  pages/books/[slug].js
Due: eslint

fix image alignment. add shortlink
  __books/wordpress-for-dummies-9e.mdx
Due: none

list inside
  styles/global.css
Due: stylelint

fix alignment
  __books/creating-a-website-for-dummies-jr.mdx
  __books/professional-wordpress-plugin-development-2e.mdx
  __books/wordpress-all-in-one-for-dummies-4e.mdx
Due: none

update desc.
  pages/photos/index.js
Due: eslint

update mobile bay photo
  public/photos/APC_0863.jpg
  public/photos/mobile-bay-2021.jpg
Due: none

dependency bump
  package-lock.json
  package.json
Due: prettier

lower the quality to 1
  pages/photos/index.js
Due: eslint

update book url
  __books/creating-a-website-for-dummies-jr.mdx
Due: none

upgrade mdx remote to v3
  package-lock.json
  package.json
Due: prettier

use <MDXRemote />
  functions/posts.js
  pages/[slug].js
  pages/blog/[slug].js
  pages/books/[slug].js
  pages/index.js
Due: eslint

rename to .prettierrc.js
  .prettierrc.js
Due: eslint

ignore public/ directory
  .eslintignore
  .stylelintignore
Due: none

rename to .stylelintrc.js
  .stylelintrc.js
Due: eslint

shuffle scripts. update config paths
  lefthook.yml
  package.json
Due: prettier

add markdownlint support
  .markdownlint.json
  .markdownlintignore
  .vscode/extensions.json
  lefthook.yml
  package-lock.json
  package.json
Due: prettier

add support for markdownlint
  .github/workflows/assertions.yml
  package.json
Due: prettier

bulk markdownlint formatting fixes
  README.md
  __pages/resources.mdx
  __posts/displaying-exif-data-in-wordpress.mdx
  __posts/genesis-code-snippets.mdx
  __posts/get-wordpress-category-id.mdx
  __posts/gregs-homemade-pizza-recipe.mdx
  __posts/how-to-install-lamp-on-ubuntu.mdx
  __posts/migrate-a-wordpress-blog-to-gatsby-in-15-minutes.mdx
  __posts/modify-wordpress-custom-post-type.mdx
  __posts/remove-woocommerce-styles-and-scripts.mdx
  __posts/safely-update-an-ubuntu-ec2-instance-on-amazon-aws.mdx
  __posts/set-up-localhost-on-virtualbox.mdx
  __posts/setup-a-local-wordpress-development-environment-on-docker.mdx
  __posts/using-the-golden-ratio-and-rems.mdx
Due: prettier

ignore test post
  .markdownlintignore
Due: none

finish bulk markdownlint formatting fixes
  README.md
  __posts/2016-a-year-in-review.mdx
  __posts/2018-a-year-in-review.mdx
  __posts/genesis-code-snippets.mdx
  __posts/how-to-install-lamp-on-ubuntu.mdx
  __posts/microphone-shootout-behringer-b-1-vs-neumann-tlm-103.mdx
  __posts/migrate-a-wordpress-blog-to-gatsby-in-15-minutes.mdx
  __posts/set-up-localhost-on-virtualbox.mdx
  __posts/setup-a-local-wordpress-development-environment-on-docker.mdx
  __posts/the-perfect-apc-configuration.mdx
Due: prettier

bump
  README.md
Due: prettier

update book link. add link to js
  __pages/homepage.mdx
Due: none

depdency bump
  package-lock.json
  package.json
Due: prettier

bump
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier

bump
  package-lock.json
Due: prettier

initial commit
  __posts/github-actions-deploy-with-rsync.md
  __posts/verify-your-commits.md
Due: prettier

remove fonts.css
  pages/_app.js
  styles/fonts.css
Due: eslint, stylelint

enqueue google fonts + material icons
  components/common/Meta.js
Due: eslint

adjust fonts for Suez One
  components/atoms/Title/Title.module.css
  components/molecules/Logo/Logo.module.css
  tailwind.config.js
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
