Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: "*.{md,html,json,yml}"
      run: npx prettier {staged_files} --config=prettier.config.js --write

reduce vertical spacing for search
  pages/blog/index.js
Due: eslint

update photos link
  lib/config.js
Due: eslint

update photos link
  data/pages/homepage.mdx
  lib/config.js
Due: eslint

move photos link to footer
  lib/config.js
Due: eslint

bump
  README.md
Due: prettier

finalize this post
  data/posts/github-actions-deploy-with-rsync.mdx
  data/posts/verify-your-commits-on-github.mdx
Due: none

clean up npm scripts
  package-lock.json
  package.json
Due: prettier

final /photos support clean up
  lib/config.js
  lib/thumbnails.js
  package-lock.json
  package.json
Due: eslint, prettier

check-in /optimized
  .gitignore
  public/optimized/.gitkeep
Due: none

ignore optimized
  .gitignore
Due: none

bump to next 11.1
  package-lock.json
  package.json
Due: prettier

readme bump
  README.md
Due: prettier

fix embeds
  data/posts/swr-examples.mdx
Due: none

remove i18n
  next.config.js
  pages/_document.js
Due: eslint

dependency bump
  package-lock.json
  package.json
Due: prettier

add gui screenshots
  data/posts/verify-your-commits-on-github.mdx
Due: none

move images to blog
  data/posts/verify-your-commits-on-github.mdx
  public/blog/images/Screen Shot 2021-06-08 at 12.32.14.png
  public/blog/images/Screen Shot 2021-08-10 at 2.25.45 PM.png
  public/blog/images/Screen Shot 2021-08-17 at 2.05.21 PM.png
  public/blog/images/Screen Shot 2021-08-17 at 2.11.26 PM.png
  public/blog/images/Screen Shot 2021-08-17 at 2.17.56 PM.png
  public/blog/images/Screen Shot 2021-08-17 at 2.19.27 PM.png
Due: none

add caveats
  data/posts/nextjs-github-pages.mdx
Due: none

dpendency bump
  package-lock.json
  package.json
Due: prettier

add media page
  data/pages/media.mdx
  lib/config.js
Due: eslint

update media page
  data/pages/media.mdx
Due: none

fix en-US redirects
  lib/redirects.js
Due: eslint

update metadata
  data/pages/media.mdx
Due: none

update meta description
  data/pages/resources.mdx
Due: none

fixing openGraph data
  data/books/creating-a-website-for-dummies-jr.mdx
  data/books/professional-wordpress-plugin-development-2e.mdx
  data/books/wordpress-all-in-one-for-dummies-4e.mdx
  data/books/wordpress-for-dummies-9e.mdx
  data/pages/homepage.mdx
  data/pages/media.mdx
  data/pages/resources.mdx
  lib/config.js
  pages/[slug].js
  pages/_app.js
  pages/blog/[slug].js
  pages/books/[slug].js
  pages/contact.js
  pages/index.js
Due: eslint

rename coverImage to ogImage
  components/molecules/Card/Card.js
  components/molecules/PageHeader/PageHeader.js
  pages/[slug].js
  pages/blog/[slug].js
  pages/books/[slug].js
Due: eslint

clean up frontmatter entries
  data/books/creating-a-website-for-dummies-jr.mdx
  data/books/professional-wordpress-plugin-development-2e.mdx
  data/books/wordpress-all-in-one-for-dummies-4e.mdx
  data/books/wordpress-for-dummies-9e.mdx
  data/posts/2016-a-year-in-review.mdx
  data/posts/2018-a-year-in-review.mdx
  data/posts/2020-a-year-in-review.mdx
  data/posts/create-mu-plugin-for-wordpress.mdx
  data/posts/displaying-exif-data-in-wordpress.mdx
  data/posts/genesis-code-snippets.mdx
  data/posts/get-wordpress-category-id.mdx
  data/posts/gregs-homemade-pizza-recipe.mdx
  data/posts/how-to-install-lamp-on-ubuntu.mdx
  data/posts/microphone-shootout-behringer-b-1-vs-neumann-tlm-103.mdx
  data/posts/migrate-a-wordpress-blog-to-gatsby-in-15-minutes.mdx
  data/posts/modify-wordpress-custom-post-type.mdx
  data/posts/nextjs-github-pages.mdx
  data/posts/podcasting-sound-like-a-radio-dj.mdx
  data/posts/reddit-image-viewer.mdx
  data/posts/remove-woocommerce-styles-and-scripts.mdx
  data/posts/safely-update-an-ubuntu-ec2-instance-on-amazon-aws.mdx
  data/posts/set-up-localhost-on-virtualbox.mdx
  data/posts/setup-a-local-wordpress-development-environment-on-docker.mdx
  data/posts/swr-examples.mdx
  data/posts/the-perfect-apc-configuration.mdx
  data/posts/using-the-golden-ratio-and-rems.mdx
  data/posts/verify-your-commits-on-github.mdx
Due: none

ignore homepage
  next-sitemap.js
Due: eslint

update redirects
  lib/redirects.js
Due: eslint

add a max width
  styles/global.css
Due: stylelint

decrease font size
  components/organisms/Footer/Footer.module.css
Due: stylelint

remove bracket pair colorizer
  .vscode/extensions.json
Due: prettier

add decode podcast
  data/pages/media.mdx
Due: none
