Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: "*.{md,html,json,yml}"
      run: npx prettier {staged_files} --config=prettier.config.js --write

dependency bump
  package-lock.json
  package.json
Due: prettier

add web images blog post
  data/posts/web-images.mdx
Due: none

fix overlow issue
  components/templates/Layout/Layout.module.css
Due: stylelint

disable darkmode toggle
  components/organisms/Footer/Footer.js
  tailwind.config.js
Due: eslint

preconnect and preload fonts
  pages/_document.js
Due: eslint

add core web vitals. disable font-preconnect
  .eslintrc.js
Due: eslint

add remarkSlug
  package-lock.json
  package.json
Due: prettier

remove custom fonts. blue links. other improvements
  components/atoms/Excerpt/Excerpt.module.css
  components/atoms/Meta/Meta.module.css
  components/molecules/Card/Card.js
  components/molecules/Card/Card.module.css
  components/molecules/HeaderNavigation/HeaderNavigation.module.css
  components/molecules/Logo/Logo.js
  components/organisms/Footer/Footer.module.css
  components/templates/Layout/Layout.module.css
  data/posts/web-images.mdx
  lib/posts.js
  pages/_document.js
  pages/index.js
  styles/global.css
  styles/prism.css
  tailwind.config.js
Due: eslint, stylelint

increase code font size
  styles/prism.css
Due: stylelint

fix typo
  data/posts/web-images.mdx
Due: none

formatting
  styles/prism.css
Due: stylelint

fix contrast issues
  components/atoms/Excerpt/Excerpt.module.css
  components/atoms/Meta/Meta.module.css
Due: stylelint

card title tweak
  components/molecules/Card/Card.module.css
Due: stylelint

remove unused components
  components/atoms/DarkMode/DarkMode.js
  components/atoms/Masonry/Masonry.js
  components/atoms/Masonry/Masonry.module.css
Due: eslint, stylelint

use npm i
  .github/workflows/assertions.yml
Due: prettier

add lighthouse support
  .github/workflows/lighthouse.yml
  .lighthouserc.js
Due: eslint, prettier

remove unused component
  components/atoms/PlaceholderImage/PlaceholderImage.js
Due: eslint

remove preload rule
  .eslintrc.js
Due: eslint

only run at midnight
  .github/workflows/codeql-analysis.yml
Due: prettier

add aria label to logo
  components/molecules/Logo/Logo.js
Due: eslint

run on PRs for both main and develop
  .github/workflows/lighthouse.yml
Due: prettier

create initial <SideNote /> component
  components/molecules/SideNote/SideNote.js
  components/molecules/SideNote/SideNote.module.css
  pages/blog/[slug].js
Due: eslint, stylelint

use <SideNote />
  data/posts/nextjs-github-pages.mdx
Due: none

syntax highlighting fixes
  styles/global.css
  styles/prism.css
Due: stylelint

ship it!
  components/atoms/Excerpt/Excerpt.module.css
  components/atoms/Meta/Meta.module.css
  components/molecules/SideNote/SideNote.module.css
  data/posts/nextjs-github-pages.mdx
Due: stylelint

add underline and italic
  components/atoms/Excerpt/Excerpt.module.css
Due: stylelint

decrease vertical margin
  components/molecules/PageHeader/PageHeader.module.css
Due: stylelint

sidenote design tweaks
  components/molecules/SideNote/SideNote.js
  components/molecules/SideNote/SideNote.module.css
Due: eslint, stylelint

content tweaks. adjust sidenote location
  data/posts/nextjs-github-pages.mdx
Due: none

adjust color
  components/molecules/SideNote/SideNote.module.css
Due: stylelint

add <AuthorCard />
  components/molecules/Article/Article.js
  components/molecules/AuthorCard/AuthorCard.js
  components/molecules/AuthorCard/AuthorCard.module.css
Due: eslint, stylelint

bulk formatting
  data/posts/nextjs-github-pages.mdx
Due: none

ignore prism
  .stylelintignore
Due: none

just use default colors
  tailwind.config.js
Due: eslint

rename global.css
  styles/styles.css
Due: stylelint

update prism.css. add line-number and treeview support
  styles/prism.css
Due: stylelint
