Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier {staged_files} --config=prettier.config.js --write

move logo to <Logo />
  components/molecules/Logo/Logo.js
  components/molecules/Logo/Logo.module.css
  components/organisms/Header/Header.js
  components/organisms/Header/Header.module.css
Due: eslint, stylelint

fix space
  components/molecules/Logo/Logo.module.css
Due: stylelint

flex row at large breakpoint
  components/organisms/Header/Header.module.css
Due: stylelint

adjust spacing
  components/organisms/Header/Header.module.css
Due: stylelint

southeast
  __pages/homepage.mdx
Due: none

fix prop-types
  components/atoms/Date/Date.js
  components/molecules/PageHeader/PageHeader.js
Due: eslint

update description and nav
  functions/config.js
Due: eslint

adjust color and caps
  components/atoms/Date/Date.module.css
Due: stylelint

use Article instead of Blog
  pages/blog/index.js
Due: eslint

remove image. add date. re-style
  components/molecules/Card/Card.js
  components/molecules/Card/Card.module.css
Due: eslint, stylelint

add async
  components/common/Meta.js
Due: eslint

use dynamic imports
  components/molecules/ContactForm/ContactForm.js
Due: eslint

dependency bump
  package-lock.json
  package.json
Due: prettier

create <Masonry /> component
  components/atoms/Masonry/Masonry.js
Due: eslint

add masonry css
  components/atoms/Masonry/Masonry.module.css
Due: stylelint

import css. clean ups.
  components/atoms/Masonry/Masonry.js
Due: eslint

create wide layout option
  components/templates/Layout/Layout.js
  components/templates/Layout/Layout.module.css
Due: eslint, stylelint

add <Masonry />. use wide layout.
  pages/photos/index.js
Due: eslint

organize imports
  pages/photos/[slug].js
Due: eslint

formatting
  .github/dependabot.yml
  public/meals/index.html
Due: prettier

update style import
  components/atoms/Masonry/Masonry.js
Due: eslint

content updates
  __pages/homepage.mdx
  __pages/resources.mdx
  pages/books/index.js
Due: eslint

update description
  functions/config.js
Due: eslint

bump
  __pages/homepage.mdx
Due: none

update gradient
  components/molecules/ContactForm/ContactForm.module.css
  styles/global.css
Due: stylelint

rename /api to /lib
  components/molecules/ContactForm/ContactForm.js
  jsconfig.json
  lib/formium/connector.js
  pages/contact.js
Due: eslint, prettier

tailwind 2.1 and webpack 5
  next.config.js
  package-lock.json
  package.json
  tailwind.config.js
Due: eslint, prettier

move to root
  .github/CONTRIBUTING.md
  .github/LICENSE
  CONTRIBUTING.md
  LICENSE.md
Due: prettier

weekly on monday
  .github/dependabot.yml
Due: prettier

update
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

add assertions workflow
  .github/workflows/assertions.yml
Due: prettier

sort order
  package-lock.json
  package.json
Due: prettier

add mobile bay photo
  public/photos/APC_0863.jpg
Due: none

webpack 5 is enabled by default now
  next.config.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
