Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: "*.{md,html,json,yml}"
      run: npx prettier {staged_files} --config=prettier.config.js --write

formatting tweaks
  data/posts/nextjs-github-pages.mdx
Due: none

remove homepage
  data/pages/homepage.mdx
Due: none

move articles to root
  lib/config.js
  pages/blog/index.js
  pages/index.js
Due: eslint

bump
  .vscode/snipsnap.code-snippets
Due: none

dependency bump
  package-lock.json
  package.json
Due: prettier

point at /article
  lib/redirects.js
  pages/article/[slug].js
  pages/index.js
Due: eslint

Update README.md
  README.md
Due: prettier

update workflows
  .github/workflows/assertions.yml
  .github/workflows/lighthouse.yml
Due: prettier

update deploy yml
  data/posts/nextjs-github-pages.mdx
Due: none

dependency bump
  .github/workflows/assertions.yml
  .github/workflows/lighthouse.yml
  .lighthouserc.js
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/snipsnap.code-snippets
  data/pages/media.mdx
  package-lock.json
  package.json
  tailwind.config.js
Due: eslint, prettier

update advanced features URL
  data/posts/nextjs-github-pages.mdx
Due: none

use lts
  .nvmrc
Due: none

bulk tailwindcss formatting
  components/atoms/Excerpt/Excerpt.module.css
  components/atoms/Separator/Separator.module.css
  components/atoms/Title/Title.module.css
  components/molecules/AuthorCard/AuthorCard.module.css
  components/molecules/Card/Card.module.css
  components/molecules/ContactForm/ContactForm.module.css
  components/molecules/HeaderNavigation/HeaderNavigation.module.css
  components/molecules/Logo/Logo.module.css
  components/molecules/PageHeader/PageHeader.module.css
  components/molecules/SideNote/SideNote.module.css
  components/organisms/Footer/Footer.module.css
  components/organisms/Header/Header.module.css
  components/templates/Layout/Layout.module.css
  data/posts/2020-a-year-in-review.mdx
  pages/index.js
  styles/styles.css
Due: eslint, stylelint

update git url
  package-lock.json
  package.json
Due: prettier

add supports info. update squoosh cli url
  data/posts/web-images.mdx
Due: none

add avif support
  next.config.js
Due: eslint

remove config
  lefthook.yml
Due: prettier

MIT
  LICENSE.md
Due: prettier

update blog url
  .github/workflows/assertions.yml
  .lighthouserc.js
  README.md
  lib/config.js
  next-sitemap.js
  scripts/generate-rss.js
Due: eslint, prettier

depdnency bump
  .github/workflows/assertions.yml
  package-lock.json
  package.json
Due: prettier

rename to security. add additional scans
  .github/workflows/security.yml
Due: prettier

Update config.js
  lib/config.js
Due: eslint

dump @formium
  package-lock.json
  package.json
  pages/contact.js
Due: eslint, prettier

update bio and avatar
  components/molecules/AuthorCard/AuthorCard.js
  public/blog/authors/greg-kermit.jpg
  public/blog/authors/greg-rickaby.jpg
  public/blog/authors/greg.jpg
  public/blog/authors/greg.webp
Due: eslint

fix mobile nav styles
  components/molecules/HeaderNavigation/HeaderNavigation.js
  components/molecules/HeaderNavigation/HeaderNavigation.module.css
  components/organisms/Footer/Footer.js
  components/organisms/Footer/Footer.module.css
  components/organisms/Header/Header.module.css
Due: eslint, stylelint

autoprefixer fix
  styles/prism.css
Due: stylelint
