Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: "*.{md,html,json,yml}"
      run: npx prettier {staged_files} --config=prettier.config.js --write

import styles.css
  pages/_app.js
Due: eslint

nextjs github pages post updates
  data/posts/nextjs-github-pages.mdx
  public/blog/images/screenshot-of-github-actions.png
  public/blog/images/screenshot-of-github-deploy-key.png
  public/blog/images/screenshot-of-github-secrets-screen.png
Due: none

tiny css tweaks
  components/molecules/AuthorCard/AuthorCard.js
  components/molecules/AuthorCard/AuthorCard.module.css
  components/molecules/SideNote/SideNote.module.css
Due: eslint, stylelint

fix code blocks for dark mode
  styles/styles.css
Due: stylelint

dependency bump
  package-lock.json
  package.json
Due: prettier

json-ld and og fixes
  pages/blog/[slug].js
  pages/index.js
Due: eslint

add isbn, release date, and author
  data/books/creating-a-website-for-dummies-jr.mdx
  data/books/professional-wordpress-plugin-development-2e.mdx
  data/books/wordpress-all-in-one-for-dummies-4e.mdx
  data/books/wordpress-for-dummies-9e.mdx
Due: none

display book og data
  pages/books/[slug].js
Due: eslint

next-seo JSONLD is broken... gotta pass my own
  pages/blog/[slug].js
Due: eslint

use dangerouslySetInnerHTML
  pages/blog/[slug].js
Due: eslint

update book metadata
  data/books/creating-a-website-for-dummies-jr.mdx
  data/books/professional-wordpress-plugin-development-2e.mdx
  data/books/wordpress-all-in-one-for-dummies-4e.mdx
  data/books/wordpress-for-dummies-9e.mdx
Due: none

add book json to <head>
  pages/books/[slug].js
Due: eslint

bulk formatting
  data/posts/nextjs-github-pages.mdx
  styles/prism.css
  styles/styles.css
Due: stylelint

updates and fixes
  data/posts/swr-examples.mdx
Due: none

update redirects
  lib/redirects.js
Due: eslint

formatting
  styles/styles.css
Due: stylelint

font size adjustment
  styles/styles.css
Due: stylelint

opt-in to SWC
  next.config.js
Due: eslint

next.js 12
  package-lock.json
  package.json
Due: prettier

update stylelint rules
  .stylelintrc.js
Due: eslint

bulk formatting
  components/molecules/ContactForm/ContactForm.module.css
  styles/styles.css
Due: stylelint

add legend of headless website
  data/pages/media.mdx
Due: none

add seperator
  data/posts/nextjs-github-pages.mdx
Due: none

use next/script for g-tag
  pages/_app.js
  pages/_document.js
Due: eslint

remove engine
  package-lock.json
  package.json
Due: prettier

update gtag strategy
  lib/gtag.js
  pages/_app.js
Due: eslint

tailwind 3 compatibility
  postcss.config.js
  tailwind.config.js
Due: eslint

change default color to zinc
  styles/styles.css
Due: stylelint
