Repository gregrickaby/nextjs-blog: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: "*.{md,html,json,yml}"
      run: npx prettier {staged_files} --config=prettier.config.js --write

update config
  lefthook.yml
Due: prettier

remove jsdoc
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint, prettier

Update README.md
  README.md
Due: prettier

Update lefthook.yml
  lefthook.yml
Due: prettier

add layout="responsive"
  __pages/homepage.mdx
  __posts/2020-a-year-in-review.mdx
Due: none

adjust media query
  styles/global.css
Due: stylelint

add nprogress package and bump deps
  package-lock.json
  package.json
Due: prettier

use nprogress
  pages/_app.js
Due: eslint

dependency bump
  package-lock.json
  package.json
Due: prettier

remove gray-500
  tailwind.config.js
Due: eslint

bump
  .vscode/settings.json
Due: prettier

update bio
  __pages/homepage.mdx
Due: none

update header nav items
  components/molecules/HeaderNavigation/HeaderNavigation.js
  components/molecules/HeaderNavigation/HeaderNavigation.module.css
Due: eslint, stylelint

update header layout and width
  components/organisms/Header/Header.js
  components/organisms/Header/Header.module.css
Due: eslint, stylelint

move header above
  components/templates/Layout/Layout.js
Due: eslint

adjust wide to match container
  styles/global.css
Due: stylelint

update homepage image
  __pages/homepage.mdx
  public/blog/images/rickaby-family-2019.jpg
Due: none

just import in app
  pages/_app.js
  styles/tailwind.css
Due: eslint, stylelint

add category
  components/atoms/Date/Date.js
  components/atoms/Date/Date.module.css
  components/molecules/PageHeader/PageHeader.js
Due: eslint, stylelint

ignore thumbnails directory
  .gitignore
Due: none

add thumbnail config options
  functions/config.js
Due: eslint

create thumbnail function
  functions/photos.js
Due: eslint

update comments
  functions/photos.js
Due: eslint

ignore img-redundant-alt
  .eslintrc.js
Due: eslint

use thumbnail image
  pages/photos/index.js
Due: eslint

move createThumbnails to a node-based script
  functions/photos.js
  functions/thumbnails.js
Due: eslint

use thumbnail image height/width
  pages/photos/index.js
Due: eslint

add thumbnail script
  package.json
Due: prettier

adjust font size
  components/molecules/HeaderNavigation/HeaderNavigation.module.css
Due: stylelint

fix a11y color
  components/organisms/Header/Header.js
  components/organisms/Header/Header.module.css
Due: eslint, stylelint

remove border
  styles/global.css
Due: stylelint

use webp
  __pages/homepage.mdx
  components/organisms/Header/Header.js
  functions/config.js
  public/blog/authors/greg-80x80.webp
  public/blog/images/rickaby-family-2019.webp
Due: eslint

don't center logo area
  components/organisms/Header/Header.module.css
Due: stylelint

loading lazy
  __pages/homepage.mdx
  components/organisms/Header/Header.js
Due: eslint

revert thumbnail stuff
  __pages/homepage.mdx
  components/organisms/Header/Header.js
  functions/config.js
  functions/photos.js
  package.json
  pages/photos/index.js
Due: eslint, prettier

fix path
  pages/photos/index.js
Due: eslint
